__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv

.env

*.db
*.sqlite
*.sqlite3

instance/
migrations/

app/static/uploads/*
!app/static/uploads/.gitkeep

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db
